.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}
.itemBar {
  font-weight: bold;
  padding: 20px;
}
.itemName {
  cursor: pointer;
}

.line {
  border: 1px solid #f4f4f4;
}

.deleteButton {
  float: right;
  border: none;
  border-radius: 4px;
  background-color: #ffab91;
  padding: 12px 20px;
  color: white;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
